{% extends "base.html" %}

{% block title %}
Editar Profesor
{% endblock %}

{% block content %}

<h1>Editar Profesor</h1>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text"
               name="nombre"
               class="form-control"
               value="{{ profesor.nombre }}"
               required>
    </div>

    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text"
               name="telefono"
               class="form-control"
               value="{{ profesor.telefono }}">
    </div>

    <button type="submit"
            class="btn btn-primary">
        Guardar Cambios
    </button>

</form>

{% endblock %}