{% extends "base.html" %}

{% block title %}
Horarios
{% endblock %}
{% block content %}

<style>
    .horario-table td,
    .horario-table th {
        padding: 3px;
        height: 28px;
        font-size: 0.85rem;
    }
</style>

<h1>Horarios</h1>
<div class="table-responsive">
    <table class="table table-bordered text-center align-middle horario-table">
        <thead class="table-dark">
            <tr>
                <th>Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            {% for hora in horas %}
            <tr>
                <td class="bg-light fw-bold">
                    {{ hora }}
                </td>
                {% for dia in dias %}
                    {% set celda = celdas.get((dia, hora)) %}
                    {% if celda %}
                        {% if celda.mostrar %}
                            <td
                                rowspan="{{ celda.rowspan }}"
                                class="table-secondary fw-bold align-middle">
                                {% for profesor in celda.profesores %}
                                    {{ profesor }}
                                    {% if not loop.last %}
                                        <hr class="my-1">
                                    {% endif %}
                                {% endfor %}
                                {{ celda.profesor }}
                            </td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}