{% extends "base.html" %}

{% block title %}
Profesores
{% endblock %}

{% block content %}

<h1>Profesores</h1>
<div class="list-group">
    <a href="/profesores/candela-pascual"
       class="list-group-item list-group-item-action">
        Candela Pascual
    </a>
    <a href="/profesores/nicolas-virulon"
       class="list-group-item list-group-item-action">
        Nicolás Virulón
    </a>
    <a href="/profesores/mariana-cagnelutti"
       class="list-group-item list-group-item-action">
        Mariana Cagnelutti
    </a>
    <a href="/profesores/emiliano-burgos"
       class="list-group-item list-group-item-action">
        Emiliano Burgos
    </a>
    <a href="/profesores/sergio-rosas"
       class="list-group-item list-group-item-action">
        Sergio Rosas
    </a>
</div>
{% endblock %}